#chats-body{
    .contact-list{
        .contact{
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            display: flex;
            flex-direction: row;
            padding: 10px;
            align-items: center;
            border-radius: 10px;
            img{
                width: 4vw;
                height: 4vw;
                border-radius: 50%;
                object-fit: cover;
            }
            h4{
                margin-left: 15px;
            }
            &:hover{
                background-color: rgba($color: #fffdf7, $alpha: 0.15);
            }
        }
    }
    .chat{
        margin-top: 0.43vw;
        padding-top: 0.8vw;
        .name-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 10vh;
            background-color: rgb(22, 36, 47);
            padding: 10px;
            border-radius: 10px;
            img{
                width: 4vw;
                height: 4vw;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
            }
        }
        .messages{
            height: 70vh;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-y: scroll;
            #previousMsg{
                padding: 50px;
                text-align: center;
            }
            .message{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                margin: 5px 0px 5px 0px;
                width: 95%;
                p{
                    margin: 0px;
                    background-color: rgba($color: #fffdf7, $alpha: 0.15);
                    padding: 5px;
                    border-radius: 10px;
                }
                img{
                    width: 2vw;
                    height: 2vw;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 20px;
                }
                &.me{
                    justify-content: flex-end;
                }
                &.you{
                    justify-content: flex-start;
                }
            }
        }
        .message-bar{
            padding: 5px 0px;
            height: 9vh;
            display: flex;
            textarea{
                resize: none;
                width: 90%;
                border: none;
                border-radius: 10px;
                background-color: rgba($color: #fffdf7, $alpha: 0.15);
                outline: none;
            }
            button{
                width: 10%;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
    }
}