#bannerSection .text-container {
    padding: 25px 0px;
  }
  #bannerSection .text-container .rate-stars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #bannerSection .text-container .rate-stars img {
    object-fit: contain;
    margin-left: 10px;
  }
  #bannerSection .text-container .rate-stars h5 {
    margin: 0px;
  }
  #bannerSection .text-container .price-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  


  #bannerSection .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

#levelSection .levels .level img {
    max-width: 10px;    /* Ajusta el tamaño de las imágenes de nivel */
    max-height: 10px;   /* Evita que las imágenes se agranden demasiado */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

#commentSection .comments-body .comments-container .comment img {
    max-width: 50px;    /* Ajusta el tamaño de las imágenes de los comentarios */
    max-height: 50px;   /* Evita que las imágenes se agranden demasiado */
    border-radius: 20px;
    object-fit: contain; /* Mantiene la proporción de la imagen */
}

#levelSection .levels .level video {
  width: 50%; /* Ajusta el tamaño según tus necesidades */
  max-width: 200px; /* Asegura que no se estiren demasiado */
  margin-right: 10px; /* Espacio entre los videos y otros elementos */
}



  
  #levelSection {
    padding: 20px 0px;
  }
  #levelSection .headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #levelSection .levels .level {
    display: flex;
    margin: 10px 0px;
    background-color: rgba(255, 253, 247, 0.08);
  }
  #levelSection .levels .level h4 {
    padding: 8px;
  }
  
  #commentSection {
    padding: 20px 0px;
  }
  #commentSection .comments-body {
    background-color: rgba(255, 253, 247, 0.08);
    border-radius: 20px;
    padding: 15px;
  }
  #commentSection .comments-body .comments-container {
    margin: 20px 0px;
  }
  #commentSection .comments-body .comments-container .comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #commentSection .comments-body .comments-container .comment img {
    object-fit: contain;
  }
  #commentSection .comments-body .comments-container .comment .texts-container {
    margin-left: 10px;
  }
  #commentSection .comments-body .comments-container .comment .texts-container .name-and-stars {
    display: flex;
  }
  #commentSection .comments-body .comments-container .comment .texts-container .name-and-stars h5 {
    margin: 0px;
  }
  #commentSection .comments-body .comments-container .comment .texts-container .name-and-stars img {
    margin-left: 10px;
  }
  #commentSection .comments-body .make-a-comment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
  #commentSection .comments-body .make-a-comment textarea{
    resize: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 20px 0px;
  }
  #commentSection .comments-body .make-a-comment .button-and-rank-container{
    display: flex;
    align-items: center;

  }
  #commentSection .comments-body .make-a-comment .button-and-rank-container select{
    margin-right: 10px;

  }
  
  /*# sourceMappingURL=course.css.map */
  

  /* Sección de Archivos Extras */
  .extras-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    /* Alinear hacia la derecha */
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 20px;
    max-width: 60%; /* Ajustar el ancho máximo para un diseño limpio */
}


.extras-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
}

.extras-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.extra-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: auto;
  max-width: 300px;
}

.extra-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.extra-icon {
  color: #007BFF;
  margin-right: 10px;
  font-size: 20px;
}

.extra-link {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.extra-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

#markEnded .button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}