@font-face {
  font-family: "Outfit-Black";
  src: url(resources/outfit/Outfit-Black.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit-Bold";
  src: url(resources/outfit/Outfit-Bold.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit-ExtraBold";
  src: url(resources/outfit/Outfit-ExtraBold.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit-ExtraLight";
  src: url(resources/outfit/Outfit-ExtraLight.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit-Light";
  src: url(resources/outfit/Outfit-Light.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit-Medium";
  src: url(resources/outfit/Outfit-Medium.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit-Regular";
  src: url(resources/outfit/Outfit-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit-SemiBold";
  src: url(resources/outfit/Outfit-SemiBold.ttf) format(truetype);
}
@font-face {
  font-family: "Outfit-Thin";
  src: url(resources/outfit/Outfit-Thin.ttf) format(truetype);
}
.title {
  font-family: "Outfit-Bold";
  font-size: 48px;
}

.option {
  font-family: "Outfit-Regular";
  font-size: 20px;
}

.detail {
  font-family: "Outfit-Regular";
  font-size: 15px;
}

.description {
  font-family: "Outfit-Regular";
  font-size: 24px;
}

.big-name {
  font-family: "Outfit-Bold";
  font-size: 64px;
}

.name {
  font-family: "Outfit-Bold";
  font-size: 32px;
}

.tiny-name {
  font-family: "Outfit-Bold";
  font-size: 20px;
}

.poppy {
  color: #E32D40;
}

.baby {
  color: #FFFDF7;
}

.eerie {
  color: #202020;
}

.prussian {
  color: #003054;
}

.mantis {
  color: #6AC25C;
}

.back-poppy {
  background-color: #E32D40;
}

.back-baby {
  background-color: #FFFDF7;
}

.back-eerie {
  background-color: #202020;
}

.back-prussian {
  background-color: #003054;
}

.back-mantis {
  background-color: #6AC25C;
}

.red-button {
  color: #FFFDF7;
  font-family: "Outfit-Bold";
  border: none;
  background-color: #E32D40;
  font-size: 25px;
  border-radius: 25px;
  padding: 0px 15px 5px 15px;
}
.red-button:hover {
  background-color: #FFFDF7;
  color: #E32D40;
  transition: ease-in-out 0.4s;
}

.blue-button {
  color: #FFFDF7;
  font-family: "Outfit-Bold";
  border: none;
  background-color: #0d6ae3;
  font-size: 25px;
  border-radius: 25px;
  padding: 0px 15px 5px 15px;
}
.blue-button:hover {
  background-color: #FFFDF7;
  color: #0d6ae3;
  transition: ease-in-out 0.4s;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px;
}
nav #category-button {
  padding-top: 8px;
  display: flex;
  background-color: transparent;
  border: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
nav #category-button img {
  width: 12px;
  margin-left: 10px;
}
nav #searchBarContainer {
  padding: 3px;
  width: 35%;
  background-color: #3F3F3F;
  border-radius: 10px;
}
nav #searchBarContainer button {
  border: none;
  background-color: transparent;
}
nav #searchBarContainer button img {
  width: 30px;
  padding: 2px 4px;
}
nav #searchBarContainer input {
  font-family: "Outfit-Regular";
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFFDF7;
  width: 90%;
}
nav .cart-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .cart-user .cart-icon {
  margin-right: 15px;
}
nav .cart-user .cart-icon img {
  width: 3vw;
}
nav .cart-user .user-menu img {
  width: 4vw;
}

.user-menu.show .user-dropdown {
  box-shadow: -2px 4px 7px #ccc;
  display: block;
  z-index: 2;
}

.user-menu img:hover {
  cursor: pointer;
}

.user-dropdown {
  position: absolute;
  top: 13vh;
  display: none;
  right: 1vw;
  width: 220px;
  background-color: #fff;
}
@media (min-width: 1400px) {
  .user-dropdown {
    right: 5vw;
  }
}
.user-dropdown .dropdown-item {
  color: #000;
  display: block;
  padding: 1rem;
  text-decoration: none;
}
.user-dropdown a:active, .user-dropdown a:hover {
  background-color: #EBF5FF;
  cursor: pointer;
}
.user-dropdown p {
  font-size: 20px;
}

.fa {
  color: #FFD700; /* Color dorado */
  font-size: 18px; /* Tamaño de las estrellas */
  margin-right: 5px; /* Espaciado entre las estrellas */
}
/*# sourceMappingURL=styles.css.map */
