#bannerSection {
  background-color: #003054;
  min-height: 100vh;
  display: flex;
  padding: 20px;
}
#bannerSection .text-container .filtros {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}
#bannerSection .text-container .filtros .filtros-row {
  background: white;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 1200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
#bannerSection .text-container .filtros select {
  width: 40%;
  font-family: "Outfit-Regular";
  font-size: 18px;
  background-color: #FFFDF7;
  color: #003054;
  border: 2px solid #E32D40;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
#bannerSection .text-container .filtros select:focus {
  border-color: #6AC25C;
}
#bannerSection .text-container .filtros input[type=date] {
  width: 30%;
  font-family: "Outfit-Regular";
  font-size: 18px;
  background-color: #FFFDF7;
  color: #003054;
  border: 2px solid #E32D40;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
#bannerSection .text-container .filtros input[type=date]:focus {
  border-color: #6AC25C;
}
#bannerSection .text-container .filtros button {
  background-color: #E32D40;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}
#bannerSection .text-container .filtros button:hover {
  background-color: #C81D32;
}
#bannerSection .text-container h1 {
  margin-left: 60px;
}

.filtros-fechas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
.filtros-fechas label {
  width: auto;
  margin-right: 10px;
}
.filtros-fechas input {
  width: 10%;
}
.filtros-fechas .option.a {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.filtros-selects {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
.filtros-selects label {
  width: auto;
  margin-right: 10px;
}
.filtros-selects select {
  width: 50%;
}

.kardex {
  margin: 20px auto;
  margin-top: 20px;
  padding: 15px;
  width: 91.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}
.kardex .course {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.kardex .course a {
  text-decoration: none;
  color: #E32D40;
}
.kardex .course a h2 {
  font-size: 40px;
}

.error {
  border: 1px solid red;
}

.input-field {
  font-family: "Outfit-Regular";
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFFDF7;
  color: #202020;
  width: 100%;
  box-sizing: border-box;
}
.input-field:focus {
  outline: none;
  border-color: #6AC25C;
}

.progreso-barra {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progreso {
  height: 20px;
  background-color: #6AC25C;
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 14px;
  width: 0%;
}

.card {
  border: 3px solid #E32D40;
  border-radius: 8px;
  margin-bottom: 41px;
  padding: 1rem;
  background: #fff;
}
.card h3 {
  margin-top: 0;
}
.card p {
  margin: 5px 0;
}

/*# sourceMappingURL=kardex.css.map */
